{#
/**
 * @file
 * Theme override for page title block.
 *
 * @ingroup templates
 */
#}
{% extends "block--bare.html.twig" %}
{% block content %}
<section>
  <h1 id="wb-cont">Page title</h1>
  <p>Page content will go here.</p>
</section>
{% endblock %}
